<nav class="flex justify-between items-center w-full max-w-[1200px] bg-stone-800 px-6 py-1 rounded-md shadow-md mt-6">
    <h1 class="text-3xl">Task Tracker</h1>
    <div class="capitalize flex justify-center items-start gap-6">
        <a mat-button 
            class="flex justify-center items-start gap-2" 
            href=""
            *ngFor="let link of links"
            [routerLink]="link.path"
            routerLinkActive="active"
        >
        <mat-icon>{{ link.icon }}</mat-icon>
        {{ link.title }}
        </a>
    </div>
</nav>
