<section class="py-12 h-full w-full flex flex-col justify-start items-center">
    <!-- Task View -->
    <app-task-form
        *ngIf="editing || newing"
        [selectedTask]="taskInEdit"
        [editing]="editing"
        [newing]="newing"
        (goBack)="goBack($event)"
        (save)="saveTask($event)"
        (delete)="deleteTask($event)"
        (update)="updateTask($event)"
    ></app-task-form>
    <!-- End Task View -->

    <!-- Task List -->
    <section 
        *ngIf="!editing && !newing"
        class="flex flex-col justify-start items-center gap-6 px-6 py-12 h-[980px] min-w-[980px]"
    >
        <header class="flex flex-col justify-center items-start gap-8 w-full">
            <h1 class="text-3xl font-medium text-center place-self-center">{{selectedProject.title}}</h1>
            <div class="flex justify-between items-end w-full">
                <div class="flex justify-start items-center gap-4">
                    <app-dropdown-filter
                        (onSelect)="onSelectStatus($event)"
                        [title]="'Task Status'"
                        [list]="['Show All', 'Not Started', 'In Progress', 'Completed']"
                        [value]="'Show All'"
                    ></app-dropdown-filter>
                    <app-dropdown-filter
                        (onSelect)="onSelectPriority($event)"
                        [title]="'Task Priority'"
                        [list]="['Show All', 'Low', 'Medium', 'High']"
                        [value]="'Show All'"
                    ></app-dropdown-filter>
                    <app-dropdown-filter
                        (onSelect)="onSelectCategory($event)"
                        [title]="'Task Category'"
                        [list]="['Show All', 'Feature', 'Bug', 'Refactor', 'Design']"
                        [value]="'Show All'"
                    ></app-dropdown-filter>
                </div>
                <app-new-button
                    (newTask)="newTask()"
                    [name]="'New Task'"
                ></app-new-button>
            </div>
        </header>
        
        <div class="h-full overflow-y-scroll scrollbar pr-4">
            <ul 
                class="grid gap-6 grid-cols-3 pb-12" 
                
            >
                <li
                    *ngFor="let task of shownTasks"
                >
                <!-- Add view task? complete/delete task? click-->
                <button 
                    (click)="editTask(task)"
                    class="bg-stone-800 rounded-lg shadow-md flex flex-col justify-start items-center px-4 py-2 gap-4 w-72">
                    <div 
                        class="rounded-full h-2 w-[90%] mx-auto"
                        [ngStyle]="{'background-color': task.category.color}"
                    ></div>
                    <h1 class="font-semibold text-xl truncate w-full">{{task.title}}</h1>
                    <div class="h-24 text-center text-ellipsis-lines w-full">{{task.description}}</div>
                    <div class="flex justify-between items-center w-full">
                        <p class="flex justify-center items-center gap-2">
                            <mat-icon class="text-md">calendar_today</mat-icon>{{task.deadline}}
                        </p>
                    </div>
                </button>
                </li>
            </ul>
        </div>
    </section>
</section>
