<section class="px-6 py-8 h-full">
    <!-- Task View -->
    <app-task-form
        *ngIf="editing || newing"
        [selectedTask]="taskInEdit"
        [editing]="editing"
        [newing]="newing"
        (goBack)="goBack($event)"
        (save)="saveTask($event)"
        (delete)="deleteTask($event)"
        (update)="updateTask($event)"
    ></app-task-form>
    <!-- End Task View -->

    <!-- Task List -->
    <section 
        *ngIf="!editing && !newing"
        class="flex flex-col justify-start items-center gap-6 h-full"
    >
        <header class="flex justify-start items-end gap-6">
            <!-- <app-dropdown 
                (onSelect)="onSelectStatus($event)"
                [title]="'Task Status'"
                [list]="['Show All', 'Not Started', 'In Progress', 'Completed']"
                [selected]="'Show All'"
            ></app-dropdown>
            <app-dropdown
                (onSelect)="onSelectPriority($event)"
                [title]="'Task Priority'"
                [list]="['Show All', '1', '2', '3', '4']"
                [selected]="'Show All'"
            ></app-dropdown>
            <app-dropdown
                (onSelect)="onSelectCategory($event)"
                [title]="'Task Category'"
                [list]="['Show All', 'Feature', 'Bug', 'Refactor', 'Design']"
                [selected]="'Show All'"
            ></app-dropdown> -->
            <app-new-button
                (newTask)="newTask()"
                [name]="'New Task'"
            ></app-new-button>
        </header>
        
        <div class="h-3/4 overflow-y-auto scrollbar pr-4">
            <ul 
                class="grid gap-6 grid-cols-3 pb-12" 
                
            >
                <li
                    *ngFor="let task of shownTasks"
                >
                <!-- Add view task? complete/delete task? click-->
                <button 
                    (click)="editTask(task)"
                    class="bg-stone-800 rounded-lg shadow-md flex flex-col justify-start items-center px-4 py-2 gap-4 w-72">
                    <div 
                        class="rounded-full h-2 w-[90%] mx-auto"
                        [ngStyle]="{'background-color': task.color}"
                    ></div>
                    <h1 class="font-semibold text-xl truncate w-full">{{task.title}}</h1>
                    <p class="flex justify-center items-center h-24 text-ellipsis w-full">{{task.description}}</p>
                    <div class="flex justify-between items-center w-full">
                        <p class="flex justify-center items-center gap-2">
                            <mat-icon class="text-md">calendar_today</mat-icon>{{task.deadline}}
                        </p>
                    </div>
                </button>
                </li>
            </ul>
        </div>
    </section>
</section>
