<div class="py-12 w-full flex flex-col justify-start items-center">
    <header class="flex justify-center items-center px-6 w-full max-w-[1100px]">
        <nav class="text-xl font-semibold w-2/3">
            <ul class="flex justify-start items-center gap-8">
                <li 
                    *ngFor="let filter of filters"
                    (click)="onFilterButtonClick(filter)"
                    [ngStyle]="{'color': filter.active ? '#ef4444' : '#d6d3d1'}"
                    class="flex flex-col justify-center items-center"
                ><button>{{filter.name}}</button>
                    <div *ngIf="filter.active" class="h-1 w-full bg-red-500 rounded-full animation-grow"></div>
                </li>
            </ul>
        </nav>
        <button 
            (click)="newProject()"
            class="bg-red-500 flex justify-center items-center gap-2 border-b-4 border-red-700 rounded-full shadow-md px-6 py-2 font-bold text-white"
        >
            <mat-icon class="text-white">add_box</mat-icon>
            <p>New Project</p>
        </button>
    </header>
    <section class="px-6 py-12 h-[800px] w-[900px]">
        <!-- Task List -->
        <app-tasks *ngIf="viewTasks"></app-tasks>
        <!-- Project Form -->
        <app-project-details
            (goBack)="goBack($event)"
            *ngIf="editing || newing"
            [project]="projectInEdit"
            [editing]="editing"
            [newing]="newing"
            (save)="saveProject($event)"
            (delete)="deleteProject($event)"
            (update)="updateProject($event)"
        ></app-project-details>
        <!-- Project List -->
        <div class="h-full overflow-y-scroll scrollbar pr-4" 
        *ngIf="!editing && !newing && !viewTasks">
            <ul class="flex flex-col justify-center gap-6 w-full"
            >
                <li *ngFor="let project of selectedProjects">
                    <button 
                        (click)="selectProject(project)"
                        [routerLink]="['/app/projects', project.id]"
                        class=" bg-stone-800 rounded-md shadow-md px-4 py-2 flex flex-col justify-start items-start gap-2 w-full">
                        <div class="flex justify-between items-center w-full">
                            <h1 class="text-xl">{{project.title}}</h1>
                            <button (click)="editProject(project)"><mat-icon class="text-amber-600">edit</mat-icon></button>
                        </div>
                        <p class="text-lg">{{project.description}}</p>
                        <div class="text-md flex justify-between items-center w-full mt-6">
                            <div class="flex justify-center items-start gap-2">
                                <mat-icon class="text-sm">calendar_today</mat-icon>
                                <p>{{project.deadline}}</p>
                            </div>
                            <p 
                                class="font-bold" 
                                [ngStyle]="{ 'color': project.status === 'In Progress' 
                                    ? '#fcd34d' : (project.status === 'Completed' 
                                    ? '#22c55e' : '#ef4444') }"
                            >{{project.status}}</p>
                        </div>
                    </button>
                </li>
            </ul>
        </div>
    </section>
</div>

