<div 
    class="bg-stone-800 rounded-lg p-12"
>
    <header 
        class="grid grid-cols-3 mb-6"
    >
        <h1 class="text-3xl font-medium col-start-2 self-center place-self-center">Task Details</h1>
        <!-- TODO: onClick -->
        <button
            (click)="onGoBack()"
            class="col-start-3 place-self-end self-center scale-150 text-rose-700"
        >
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </header>

    <form 
        #formRef="ngForm"
        class="flex justify-between items-start gap-6 w-full h-full"
    > 
    <!-- Left Half -->
        <div class="flex flex-col justify-start items-start gap-4 w-full h-full">
            <app-text-input
                [(ngModel)]="selectedTask.title"
                [name]="'title'"
                [label]="'Task Title'"
                [placeholder]="'Enter a title...'"
                class="w-full"
                [required]="true"
            ></app-text-input>

            <app-dropdown
                [list]="['Not Started', 'In Progress', 'Completed']"
                [(ngModel)]="selectedTask.status"
                [title]="'Task Status'"
                [width]="'100%'"
                class="w-full z-20"
                name="status"
                [required]="true"
            ></app-dropdown>

            <app-dropdown
                [list]="['Low', 'Medium', 'High']"
                [(ngModel)]="selectedTask.priority"
                [title]="'Task Priority'"
                [width]="'100%'"
                class="w-full z-10"
                name="priority"
                [required]="true"
            ></app-dropdown>

            <app-dropdown
                [list]="['Feature', 'Bug', 'Refactor']"
                [(ngModel)]="selectedTask.category.name"
                [title]="'Task Category'"
                [width]="'100%'"
                class="w-full z-0"
                name="category"
                [required]="true"
            ></app-dropdown>

            <div class="flex flex-col justify-center items-start w-full">
                <label for="deadline" class="text-xl font-medium">Deadline</label>
                <input 
                    type="date" name="deadline" id="deadline"
                    required placeholder="Deadline"
                    [(ngModel)]="selectedTask.deadline"
                    class="bg-stone-700 rounded-sm px-4 py-1 outline-none w-full hover:cursor-pointer"
                >
            </div>

        </div>
    <!-- Right Half -->
        <div 
            class="flex flex-col justify-center items-start gap-6 w-full h-[410px]">
            <app-text-box
                [(ngModel)]="selectedTask.description"
                [label]="'Task Description (Optional)'"
                [placeholder]="'Enter a description...'"
                [required]="false"
                name="description"
                class="w-full h-full"
            >
            </app-text-box>
            <div class="flex justify-around items-center w-full">
                <button 
                    [disabled]="!formRef.valid"
                    *ngIf="editing"
                    class="bg-amber-600 px-6 py-2 rounded-full font-bold flex justify-center items-center gap-2 disabled:opacity-50"
                    (click)="update.emit(selectedTask)"
                >
                <mat-icon>edit</mat-icon>
                Update Task</button>
                <button 
                    [disabled]="!formRef.valid"
                    *ngIf="!editing"
                    class="bg-lime-600 px-6 py-2 rounded-full font-bold flex justify-center items-center gap-2 disabled:opacity-50"
                    (click)="save.emit(selectedTask)"
                >
                <mat-icon>save</mat-icon>
                Save Task</button>
                <button 
                    *ngIf="!newing"
                    class="bg-red-600 px-6 py-2 rounded-full font-bold flex justify-center items-center gap-2"
                    (click)="delete.emit(selectedTask)"
                >
                <mat-icon>delete_outline</mat-icon>
                Delete Task</button>
            </div>
        </div>
    </form>

    <pre class="mt-16">{{formRef.value | json}}</pre>
    <pre>{{formRef.valid | json}}</pre>
    <pre>{{selectedTask | json}}</pre>

</div>
