.styled-select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

select.decorated option:hover {
    box-shadow: 0 0 10px 100px #57534e inset;
}