<button (click)="onGoBack()"><mat-icon>arrow_back</mat-icon></button>
<form 
    #form="ngForm"
    class="flex flex-col justify-center items-start px-6 text-2xl gap-6"
>
<div class="flex justify-center items-start gap-6 w-full">
    <div class="flex flex-col justify-center items-start w-1/2">
        <app-text-input
            class="w-full"
            [label]="'Task Title'"
            [model]="selectedTask.title"
            [placeholder]="'Enter a Title...'"
            [name]="'title'"
        ></app-text-input>
        <div class="flex flex-col justify-center items-start w-full">
            <label for="deadline" class="font-semibold">Deadline</label>
            <input 
                type="date" name="deadline" id="deadline"
                required placeholder="Deadline"
                [(ngModel)]="selectedTask.deadline"
                class="bg-stone-800 rounded-sm px-6 py-1 outline-none w-full"
            >
        </div>
        <app-dropdown
            [list]="['Not Started', 'In Progress', 'Completed']"
            [selected]="selectedTask.status"
            [title]="'Completion Status'"
            [width]="'200px'"
            (onSelect)="setStatus($event)"
        ></app-dropdown>

    </div>
    <div class="flex flex-col justify-center items-start w-1/2 h-full">
        <label for="description" class="font-semibold">Task Description</label>
        <textarea 
            type="text" name="description" id="description"
            required placeholder="Task Description"
            [(ngModel)]="selectedTask.description"
            class="bg-stone-800 rounded-sm px-6 py-1 outline-none w-full resize-none h-48 scrollbar"
        ></textarea>
    </div>
</div>

    <div class="flex justify-center items-center gap-12 w-full pt-14">
        <button 
            *ngIf="editing"
            class="bg-amber-600 px-6 py-2 rounded-full font-bold flex justify-center items-center gap-2"
            (click)="update.emit(selectedTask)"
        >
        <mat-icon>edit</mat-icon>
        Update Task</button>
        <button 
            *ngIf="!editing"
            class="bg-lime-600 px-6 py-2 rounded-full font-bold flex justify-center items-center gap-2"
            (click)="save.emit(selectedTask)"
        >
        <mat-icon>save</mat-icon>
        Save Task</button>
        <button 
            *ngIf="!newing"
            class="bg-red-600 px-6 py-2 rounded-full font-bold flex justify-center items-center gap-2"
            (click)="delete.emit(selectedTask)"
        >
        <mat-icon>delete_outline</mat-icon>
        Delete Task</button>
    </div>
</form>
